[submodule "Quadruped Controller/extern/ODE"]
	path = Quadruped Controller/extern/ODE
	url = https://github.com/thomasmarsh/ODE.git
[submodule "Quadruped Controller/extern/eventpp"]
	path = Quadruped Controller/extern/eventpp
	url = https://github.com/wqking/eventpp.git
